@model CompraVentaCore.Models.DetalleDeCompra

    <div class="alert alert-danger" data-ng-show="tieneError">
        <button type="button" class="close" aria-hidden="true" data-ng-click="closeAlert()">&times;</button>
        <p>{{ error }}</p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-6">Producto</th>
                <th class="col-md-2">Cantidad</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr id="form-detalle-compra">
                <td>
                    <select id="ProductoId" name="ProductoId" class="form-control" chosen ng-model="newDetalle.Producto" ng-options="producto.Nombre + ' (' + producto.Cantidad + ')' for producto in productos track by producto.Id">
                        <option></option>
                    </select>
                    @Html.ValidationMessageFor(model => model.ProductoId)

                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @data_ng_model = "newDetalle.Cantidad" })
                        <span class="input-group-addon">{{newDetalle.Producto.Unidad}}</span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Cantidad)
                </td>
                <td>
                    <a id="add_aprob" data-ng-click="agregarDetalle()" class="btn btn-success nuevo" title="Agregar Detalle" data-placement="top" data-togle="tooltip" href="javascript:;"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
            <tr data-ng-repeat="detalle in detalles">
                <td>
                    <strong data-ng-hide="detalle.editMode">{{ detalle.Producto.Nombre }}</strong>
                    <input name="Productos[{{ $index }}].ProductoId" ng-show="detalle.editMode" type="text" ng-model="detalle.Producto.Id" class="form-control" />
                </td>
                <td>
                    <p data-ng-hide="carga.editMode">{{ detalle.Cantidad }} {{detalle.Producto.Unidad}}</p>
                    <input name="Productos[{{ $index }}].Cantidad" ng-show="detalle.editMode" type="text" ng-model="detalle.Cantidad" class="form-control"/>
                    <input name="Productos[{{ $index }}].UnidadDeMedidaId" ng-show="detalle.editMode" type="text" ng-model="detalle.Producto.UnidadId" class="form-control" />
                </td>
                <td>
                    <p data-ng-hide="carga.editMode">
                        <a class="btn btn-danger" data-ng-click="borrarCarga($index)" href="javascript:;"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
