@model IEnumerable<ErpMvc.ViewModels.ResumenMermaViewModel>


<table id="mermas-table" class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Producto.Producto.Nombre</td>
                <td>@item.Cantidad @item.Producto.UnidadDeMedida.Siglas</td>
                <td>
                    @foreach (var d in item.Detalles)
                {
                        <span>@d</span><br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>