@using CompraVentaCore.Models
@model IEnumerable<ErpMvc.ViewModels.MenusPorProductoViewModel>

@{
    ViewBag.Title = "Ventas por producto";
}

<h3>Ventas que usan @ViewBag.Producto</h3>

<table class="table" id="tabla">
    <thead>
        <tr class="primary">
            <th>Menu</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Menu)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CantidadVendida)
                </td>
            </tr>
        }
    </tbody>
</table>

@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha">Menus vendidos por producto</p>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>

    <script>
        $(document).ready(function () {
            $('btn').tooltip();
            declareDatatable("#tabla");
        });
        
        function mostrarModal() {
            $("#modal").modal('show');
        }
    </script>
}
