

<!-- TABLA RESUMEN -->
<div class="row ">
    <div class="col-md-6 text-center">
        <table class="table table-hover table-striped panel panel-default">
            <tr>
                <td class="primary col-md-2">Efectivo Inicial</td>
                <td class="col-md-1 text-right">
                    {{efectivo_inicial | currency }}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(+) Ventas</td>
                <td class="col-md-1 text-right">
                    {{ventas | currency}}
                </td>
            </tr>
            <tr ng-repeat="centro in centrosDeCosto">
                <td class="primary col-md-2"> {{centro.Nombre}}</td>
                <td class="col-md-1 text-right">
                    {{centro.Importe | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(+) Depositos</td>
                <td class="col-md-1 text-right">
                    {{depositos | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(-) Extracciones</td>
                <td class="col-md-1 text-right">
                    {{extracciones | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(=) Efectivo Antes del Cierre</td>
                <td id="efectivo-actual" class="col-md-1 text-right">
                    {{efectivo_antes_cierre | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(-) Efectivo en Caja</td>
                <td id="caja" class="col-md-1 text-right">{{efectivo_a_dejar_en_caja | currency}}</td>
            </tr>
            <tr>
                <td class="primary col-md-2">(-) Pago a trabajadores</td>
                <td id="pagoTrabajadores" class="col-md-1 text-right">{{pago_a_trabajadores | currency}}</td>
            </tr>
            <tr>
                <td class="primary col-md-2">(=) Entregar a casa</td>
                <td id="extraccion" class="col-md-1 text-right">{{efectivo_a_extraer | currency}}</td>
            </tr>
            <tr>
                <td class="primary col-md-2">Desglose de efectivo</td>
                <td id="desglose" class="col-md-1 text-right">{{desgloseEfectivo | currency}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 text-center">
        <table class="table table-hover table-striped panel panel-default">
            <tr>
                <td class="primary col-md-2">Ventas totales</td>
                <td class="col-md-1 text-right">
                    {{ventas | currency }}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(-) Excenta de porciento</td>
                <td class="col-md-1 text-right">
                    {{ventas_sin_porciento | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(-) Ventas al costo</td>
                <td class="col-md-1 text-right">
                    {{ventas_al_costo | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">(=) Se calcula porciento</td>
                <td class="col-md-1 text-right">
                    {{ventas_con_porciento | currency}}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">10%</td>
                <td class="col-md-1 text-right">
                    {{porciento | currency}}
                </td>
            </tr>
        </table>
        <table class="table table-hover table-striped panel panel-default">
            <tr>
                <td class="primary col-md-2">Propinas</td>
                <td class="col-md-1 text-right">
                    {{propinas | currency }}
                </td>
            </tr>
            <tr>
                <td class="primary col-md-2">Pago a trabajadores</td>
                <td class="col-md-1 text-right">
                    {{total_pago | currency }}
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- TABLA RESUMEN (TERMINA AQUI) -->
