@model CompraVentaCore.Models.DetalleDeVenta



<div class="alert alert-danger" ng-show="tieneError" ng-cloak>
    <button type="button" class="close" aria-hidden="true" ng-click="closeAlert()">&times;</button>
    <p>{{ error }}</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-6">
                Menu
            </th>
            <th class="col-md-3">Cantidad</th>
            <th class="col-md-2">Importe Total</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr id="form-detalle-compra">
            <td class="col-md-6">
                <select id="ElaboracionId" name="ElaboracionId" class="form-control" chosen ng-model="newDetalle.Elaboracion" ng-options="menu.Nombre for menu in menus track by menu.Id">
                    <option></option>
                </select>
                @Html.ValidationMessageFor(model => model.ElaboracionId)

            </td>
            <td class="col-md-3">
                @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @style = "max-width: 100px !important", @ng_model = "newDetalle.Cantidad" })
                @Html.ValidationMessageFor(model => model.Cantidad)
            </td>
            <td class="col-md-2"></td>
            <td class="col-md-1">
                <a id="add_aprob" ng-click="agregarDetalle()" ng-disabled="ocupado" class="btn btn-success nuevo" title="Agregar Detalle" data-placement="top" data-togle="tooltip" href="javascript:;"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
    <tr ng-repeat="detalle in detallesVenta" ng-cloak>
        <td>
            <a class="btn btn-sm btn-default" ng-click="mostrarAgregados(detalle)"><i class="glyphicon glyphicon-bell"></i></a>
            <strong data-ng-hide="detalle.editMode">{{ detalle.Elaboracion.Nombre }}</strong><span ng-if="detalle.Agregados.length > 0"> con :</span>
            <span ng-repeat-start="agregado in detalle.Agregados">{{agregado.Nombre}} ({{agregado.Cantidad}})</span><span ng-if="$index < detalle.Agregados.length -1">,</span>
            <input name="Elaboraciones[{{ $parent.$index }}].Agregados[{{$index}}].AgregadoId" type="hidden" value="{{agregado.Id}}"/>
            <input ng-repeat-end name="Elaboraciones[{{ $parent.$index }}].Agregados[{{$index}}].Cantidad" type="hidden" value="{{agregado.Cantidad}}"/>
            <input name="Elaboraciones[{{ $index }}].ElaboracionId" ng-show="detalle.editMode" type="text" ng-model="detalle.Elaboracion.Id" class="form-control"/>
            <input name="Elaboraciones[{{ $index }}].VentaId" ng-show="detalle.editMode" type="text" ng-model="detalle.VentaId" class="form-control"/>
        </td>
        <td>
            <a class="btn btn-primary btn-sm rest-menu" ng-click="disminuirCantidad(detalle)">
                <i class="glyphicon glyphicon-minus-sign"></i>
            </a>
            <label class="cantidad-menu">{{ detalle.Cantidad }}</label>
            <a class="btn btn-primary btn-sm add-menu" ng-click="aumentarCantidad(detalle)">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </a>
            <input name="Elaboraciones[{{ $index }}].Cantidad" ng-show="detalle.editMode" type="text" ng-model="detalle.Cantidad" class="form-control"/>
        </td>
        <td>
            <p data-ng-hide="carga.editMode">{{ detalle.ImporteTotal | currency }}</p>
            <input name="Elaboraciones[{{ $index }}].ImporteTotal" ng-show="detalle.editMode" type="text" ng-model="detalle.ImporteTotal" class="form-control"/>
        </td>
        <td>
            <p data-ng-hide="carga.editMode">
                <a class="btn btn-danger" ng-click="borrarDetalle($index)" href="javascript:;"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </p>
            <p data-ng-show="carga.editMode">
                <a class="btn btn-success" data-ng-click="save(carga)" href="javascript:;">Guardar</a> |
                <a class="btn btn-danger" data-ng-click="toggleEdit(carga)" href="javascript:;">Cancelar</a>
            </p>
        </td>
    </tr>
        <tr ng-cloak>
            <td class="col-md-6">
                
            </td>
            <td class="col-md-3">
                <strong>Total</strong>
            </td>
            <td class="col-md-2">{{importeTotal|currency}}<input type="hidden" name="Importe" value="{{importeTotal}}"/></td>
            <td class="col-md-1">
                
            </td>
        </tr>
    </tbody>
</table>
