@model CompraVentaCore.Models.DetalleDeVenta



<div class="alert alert-danger" data-ng-show="tieneError">
    <button type="button" class="close" aria-hidden="true" data-ng-click="closeAlert()">&times;</button>
    <p>{{ error }}</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-7">
                Menu
            </th>
            <th class="col-md-2">Cantidad</th>
            <th class="col-md-2">Importe Total</th>
            <th class="col-md-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr id="form-detalle-compra">
            <td class="col-md-7">
                <select id="ElaboracionId" name="ElaboracionId" class="form-control" chosen ng-model="newDetalle.ElaboracionId" ng-options="menu.Nombre for menu in menus track by menu.Id"></select>
                @Html.ValidationMessageFor(model => model.ElaboracionId)

            </td>
            <td class="col-md-2">
                @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @style = "max-width: 100px !important", @data_ng_model = "newDetalle.Cantidad" })
                @Html.ValidationMessageFor(model => model.Cantidad)
            </td>
            <td class="col-md-2"></td>
            <td class="col-md-1">
                <a id="add_aprob" data-ng-click="agregarDetalle()" class="btn btn-success nuevo" title="Agregar Detalle" data-placement="top" data-togle="tooltip" href="javascript:;"><span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>
        <tr ng-repeat="detalle in detallesVenta">
            <td>
                <a class="btn btn-sm btn-default" data-ng-click="mostrarAgregados(detalle)"><i class="glyphicon glyphicon-bell"></i></a>
                <strong data-ng-hide="detalle.editMode">{{ detalle.NombreMenu }}</strong><span ng-if="detalle.Agregados.length > 0"> con :</span>
                <span ng-repeat-start="agregado in detalle.Agregados">{{agregado.Nombre}} ({{agregado.Cantidad}})</span><span ng-if="$index < detalle.Agregados.length -1">,</span>
                <input name="Elaboraciones[{{ $parent.$index }}].Agregados[{{$index}}].AgregadoId" type="hidden" value="{{agregado.Id}}" />
                <input ng-repeat-end name="Elaboraciones[{{ $parent.$index }}].Agregados[{{$index}}].Cantidad" type="hidden"  value="{{agregado.Cantidad}}" />
                <input name="Elaboraciones[{{ $index }}].ElaboracionId" data-ng-show="detalle.editMode" type="text" data-ng-model="detalle.ElaboracionId" class="form-control"/>
            </td>
            <td>
                <a class="btn btn-primary btn-sm rest-menu" data-ng-disabled="menosDisabled" data-ng-click="disminuirCantidad(detalle)">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                </a>
                <label class="cantidad-menu">{{ detalle.Cantidad }}</label>
                <a class="btn btn-primary btn-sm add-menu"  data-ng-disabled="masDisabled" data-ng-click="aumentarCantidad(detalle)">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
                <input name="Elaboraciones[{{ $index }}].Cantidad" data-ng-show="detalle.editMode" type="text" data-ng-model="detalle.Cantidad" class="form-control" />
            </td>
            <td>
                <p data-ng-hide="carga.editMode">{{ detalle.ImporteTotal | currency }}</p>
                <input name="Elaboraciones[{{ $index }}].ImporteTotal" data-ng-show="detalle.editMode" type="text" data-ng-model="detalle.ImporteTotal" class="form-control" />
            </td>
            <td>
                <p data-ng-hide="carga.editMode">
                    @*<a class="btn btn-info" data-ng-click="toggleEdit(aprobacion)" href="javascript:;"><span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a> |*@
                    <a class="btn btn-danger" data-ng-click="borrarDetalle($index)" href="javascript:;"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </p>
                <p data-ng-show="carga.editMode">
                    <a class="btn btn-success" data-ng-click="save(carga)" href="javascript:;">Guardar</a> |
                    <a class="btn btn-danger" data-ng-click="toggleEdit(carga)" href="javascript:;">Cancelar</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
